#JAVA
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

#INTELLIJ IDEA
# User-specific stuff:
.idea/
*.iml
out/

#Serenity
target/
build/

#gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Maven
log/


